.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.background {
  background: rgb(250, 249, 245);
}

.race-car {
  width: 220px;
  height: 220px;
  position: absolute;
}

.rotate-down {
  transform: rotate(0.25turn);
}

.rotate-left {
  transform: rotate(0.5turn);
}

.rotate-up {
  transform: rotate(0.75turn);
}

.rotate-right {
  transform: rotate(1turn);
}
